<h2>Input a new tenant here, then hit it.</h2>
<form action="/tenants/new" method="post">

  <label for="tenant[name]">Name:</label>
  <input name="tenant[name]" value="Name">

  <label for="tenant[age]">Age:</label>
  <input name="tenant[age]" value="Age">

  <label for="tenant[gender]">Gender:</label>
  <input name="tenant[gender]" value="Gender">

  <label for="tenant[apartment]">Apartment:</label>
  <input name="tenant[apartment]" value="Apartment">

  <input type="submit" value="Enter">
</form>
