<h2><a href="/tenants">List of Tenants</a></h2>

<ul>
  <li>Name: <%= @tenant.name %></li>
  <li>Age: $<%= @tenant.age %></li>
  <li>Gender: <%=  @tenant.gender %></li>
  <li>Apartment: <%=  @address %></li>
</ul>
